<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-commande-produit-heading"
        data-cy="CommandeProduitCreateUpdateHeading"
        jhiTranslate="pressingApp.commandeProduit.home.createOrEditLabel"
      >
        Create or edit a Commande Produit
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="pressingApp.commandeProduit.prixAvance"
            for="field_prixAvance"
            [ngbTooltip]="'pressingApp.commandeProduit.help.prixAvance' | translate"
            >Prix Avance</label
          >
          <input
            type="number"
            class="form-control"
            name="prixAvance"
            id="field_prixAvance"
            data-cy="prixAvance"
            formControlName="prixAvance"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pressingApp.commandeProduit.prixRestant" for="field_prixRestant"
            >Prix Restant</label
          >
          <input
            type="number"
            class="form-control"
            name="prixRestant"
            id="field_prixRestant"
            data-cy="prixRestant"
            formControlName="prixRestant"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pressingApp.commandeProduit.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'pressingApp.StatusCommandeProduit.null' | translate }}</option>
            <option value="PAYER">{{ 'pressingApp.StatusCommandeProduit.PAYER' | translate }}</option>
            <option value="NONPAYER">{{ 'pressingApp.StatusCommandeProduit.NONPAYER' | translate }}</option>
            <option value="RESTEAPAYER">{{ 'pressingApp.StatusCommandeProduit.RESTEAPAYER' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pressingApp.commandeProduit.dateCommandeProduit" for="field_dateCommandeProduit"
            >Date Commande Produit</label
          >
          <div class="input-group">
            <input
              id="field_dateCommandeProduit"
              data-cy="dateCommandeProduit"
              type="text"
              class="form-control"
              name="dateCommandeProduit"
              ngbDatepicker
              #dateCommandeProduitDp="ngbDatepicker"
              formControlName="dateCommandeProduit"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateCommandeProduitDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pressingApp.commandeProduit.dateLastModified" for="field_dateLastModified"
            >Date Last Modified</label
          >
          <div class="input-group">
            <input
              id="field_dateLastModified"
              data-cy="dateLastModified"
              type="text"
              class="form-control"
              name="dateLastModified"
              ngbDatepicker
              #dateLastModifiedDp="ngbDatepicker"
              formControlName="dateLastModified"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateLastModifiedDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pressingApp.commandeProduit.produit" for="field_produit">Produit</label>
          <select class="form-control" id="field_produit" data-cy="produit" name="produit" formControlName="produit">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="produitOption.id === editForm.get('produit')!.value?.id ? editForm.get('produit')!.value : produitOption"
              *ngFor="let produitOption of produitsSharedCollection; trackBy: trackProduitById"
            >
              {{ produitOption.codeProduit }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pressingApp.commandeProduit.client" for="field_client">Client</label>
          <select class="form-control" id="field_client" data-cy="client" name="client" formControlName="client">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption"
              *ngFor="let clientOption of clientsSharedCollection; trackBy: trackClientById"
            >
              {{ clientOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
